.form {
	
	
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.label_email, .label_password, .label_name, .label_username {
	display: block;
	font-size: larger;
	color: black ;
	padding: 5px;
}

.input_email, .input_password, .input_name, .input_username {
	font-size: larger;
	padding: 5px;
	margin: 2px;
	color: black;

}

.btn {
	color: white;
	background-color: red;
	border-radius: 5px;
	font-size: larger;
	display: block;
	padding: 5px;
	margin: 10px auto;
}

.messages {
	display: flex;
	justify-content: center;
}

.error {
	display: block;
	background-color: red;
	color: white;
	width: fit-content;
	height: 50px;
	padding: 5px;
}

.success {
	display: block;
	background-color: lightblue;
	color: black;
	width: fit-content;
	height: 50px;
	padding: 5px;
}
